{% extends "base.html" %}
{% block page_title %}
    Store Home
{% endblock page_title %}

{% block page_content %}
    <div class="container">
        <div class="row">
            <h2>Featured Items</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h2>Items on Sale</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h2>Recently Added</h2>
            {% for product in products %}
                <div class="card card-block">
                    <h4 class="card-title">{{ product.title }}</h4>
                    <p class="card-text">
                        {{ product.description }}
                    </p>
                    <a href="#" class="card-link">View</a>
                    <a href="#" class="card-link">Add to Cart</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock page_content %}